.thumbnails{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    gap: 30px;
}

@media (max-width: 656px){
    .thumbnails{
        justify-content: center;
    }
}